@import url("theme.css");
@import url("badge_only.css");
.wy-side-nav-search img {
    display: block;
    margin: auto auto 0em auto;
    height: auto;
    width: 50%;
    background-color: #E8E595;
    padding: 0px;
    border-radius: 00;
}
a:visited {
    color: rgb(114, 169, 181);
}

a:hover {
    color: #3091d1;
}
.wy-side-nav-search {
    background-color: #E8E595;
}
.bs-example>.btn,
    .bs-example>.btn-group {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .btn-group,
    .btn-group-vertical {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
    
    
    .btn {
        display: inline-block;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -ms-touch-action: manipulation;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .btn-default {
        color: #FFF;
        background-color: #40627C;
        border-color: #ccc;
    }
    
    button,
    input,
    select,
    textarea {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }
    
    button,
    select {
        text-transform: none;
    }
    
    button {
        overflow: visible;
    }
    
    
    .btn:active {
        padding: 6px 12px;
    }
    
    .btn:hover,
    .btn:focus {
        background: #40627C;
        color: #fff;
    }
    
    @media(max-width: 480px) {
        .nvd3 .nv-discretebar .nv-groups text {
            display: none;
        }
    }

/*.dropdown {
    position: relative;
    display: inline-block
}

.dropdown-active .dropdown-menu {
    display: block
}

.dropdown-menu {
    position: absolute;
    left: 0;
    display: none;
    float: left;
    top: 100%;
    min-width: 100%;
    background: #fcfcfc;
    z-index: 100;
    border: solid 1px #cfd7dd;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    padding: 12px
}

.dropdown-menu>dd>a {
    display: block;
    clear: both;
    color: #404040;
    white-space: nowrap;
    font-size: 90%;
    padding: 0 12px;
    cursor: pointer
}

.dropdown-menu>dd>a:hover {
    background: #2980B9;
    color: #fff
}

.dropdown-menu>dd.divider {
    border-top: solid 1px #cfd7dd;
    margin: 6px 0
}

.dropdown-menu>dd.search {
    padding-bottom: 12px
}

.dropdown-menu>dd.search input[type="search"] {
    width: 100%
}

.dropdown-menu>dd.call-to-action {
    background: #e3e3e3;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 80%
}

.dropdown-menu>dd.call-to-action:hover {
    background: #e3e3e3
}

.dropdown-menu>dd.call-to-action .btn {
    color: #fff
}

.dropdown.dropdown-up .dropdown-menu {
    bottom: 100%;
    top: auto;
    left: auto;
    right: 0
}

.dropdown.dropdown-bubble .dropdown-menu {
    background: #fcfcfc;
    margin-top: 2px
}

.dropdown.dropdown-bubble .dropdown-menu a {
    padding: 6px 12px
}

.dropdown.dropdown-bubble .dropdown-menu a:hover {
    background: #2980B9;
    color: #fff
}

.dropdown.dropdown-left .dropdown-menu {
    right: 0;
    left: auto;
    text-align: right
}

.dropdown-arrow:before {
    content: " ";
    border-bottom: 5px solid #f5f5f5;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    position: absolute;
    display: block;
    top: -4px;
    left: 50%;
    margin-left: -3px
}

.dropdown-arrow.dropdown-arrow-left:before {
    left: 11px
}
*/

.wy-side-nav-search input[type=text] {
    width: 100%;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    padding: 6px 12px;
    /* border-color: rgba(0, 0, 0, 0.25); */
}

.wy-side-nav-search>a {
    color: rgba(0, 0, 0, 0.72);
}

.wy-nav-side {
    background: #26393D;
}



.wy-menu-vertical a {
    color: #FFF;
}


