{% extends "!layout.html" %}

{% block htmltitle %}
    <title>{{ title|striptags|e }}{{ titlesuffix }}</title>
    <meta name="description" content="A comprehensive Budget Analysis Tool helps to explore various priorities and proposals in Union Budget 2017-18"/>
    <meta name="keywords" content="india budget,union budget 2017-18,budget 2017,budget analysis,government spending,budget india 2017"/>
    <meta property="og:title" content="Union Budget Analysis Tool 2017-18 | CBGA India"/>
    <meta property="og:site_name" content="Union Budget Analysis Tool 2017-18"/>
    <meta property="og:description" content="A comprehensive Budget Analysis Tool helps to explore various priorities and proposals in Union Budget 2017-18"/>
    <meta property="og:image" content="http://unionbudget2017.cbgaindia.org/{{ pathto('_static/' + logo, 1) }}ub2017.png"/>
    <meta property="og:url" content="http://unionbudget2017.cbgaindia.org/"/>
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@CBGAIndia">
    <meta name="twitter:title" content="Union Budget Analysis Tool 2017-18 | CBGA India">
    <meta name="twitter:description" content="A comprehensive Budget Analysis Tool helps to explore various priorities and proposals in Union Budget 2017-18">
    <meta name="twitter:url" content="http://unionbudget2017.cbgaindia.org/">
    <meta name="twitter:image:src" content="http://unionbudget2017.cbgaindia.org/{{ pathto('_static/' + logo, 1) }}ub2017.png">
    <meta name="apple-mobile-web-app-title" content="Union Budget Analysis Tool 2017-18">
    <link rel="shortcut icon" href="http://unionbudget2017.cbgaindia.org/{{ pathto('_static/' + logo, 1) }}cbga.ico">
{% endblock %}

{% block sidebartitle %}
    <a href="{{ pathto(master_doc) }}"><img src='{{ pathto('_static/' + logo, 1) }}/logo.png'/></a>
    {% if logo and theme_logo_only %}
        <a class="project-title" href="{{ pathto(master_doc) }}">
    {% else %}
        <a class="project-title" href="{{ pathto(master_doc) }}"> {{ project }}
    {% endif %}

    {% if logo %}
        {# Not strictly valid HTML, but it's the only way to display/scale it properly, without weird scripting or heaps of work #}
        <img src="{{ pathto('_static/' + logo, 1) }}" class="logo" />
    {% endif %}
        </a>

    {% include "searchbox.html" %}

{% endblock %}
